# List

###           1)List is an ordered sequence of items
###         2)We can have different data types under list E.g we can have integer,float and string items in a same list

##  1) List Creation

In [1]:
list1=[]  #empty list
list1

[]

In [2]:
print(type(list1))

<class 'list'>

In [3]:
list2=[10,20,46]  #list of integers numbers
list2

[10, 20, 46]

In [4]:
list3=[20.55,267.98,56.34]   #list of float numbers
list3

[20.55, 267.98, 56.34]

In [5]:
list4=['one','two','three','four']   #list of string 
list4

['one', 'two', 'three', 'four']

In [6]:
list5=[1,3,5,21,[23,86],35,[23,'Atif']]  #nested list
list5

[1, 3, 5, 21, [23, 86], 35, [23, 'Atif']]

In [7]:
list6=[100,'Asif',23.45]   #Mixed list
list6

[100, 'Asif', 23.45]

In [8]:
len(list6)

3

### 2) List Indexing

In [9]:
list2[0]   #It retrieve first element of the list

10

In [10]:
list2[-1]

46

In [11]:
list5[4][0]

23

In [12]:
#assigning values

In [13]:
list5[4][0]=85
print(list5)

[1, 3, 5, 21, [85, 86], 35, [23, 'Atif']]

### 3) List Slicing

In [14]:
newlist=[2,5,255,78,67,'One','tomato','89']  #return all values from 0th index to 3rd index and excluding all other values
newlist[0:3]

[2, 5, 255]

In [15]:
newlist[:4] #return all values from starting to 3rd index

[2, 5, 255, 78]

In [16]:
newlist[-4:]  #return last 4 values

[67, 'One', 'tomato', '89']

In [17]:
newlist[-1]  #return last values

'89'

In [18]:
newlist[:] #return all values

[2, 5, 255, 78, 67, 'One', 'tomato', '89']

### 4)Add,Remove and Change items

In [19]:
newlist

[2, 5, 255, 78, 67, 'One', 'tomato', '89']

In [20]:
newlist.append('100')  #add new value to the end of the list
newlist

[2, 5, 255, 78, 67, 'One', 'tomato', '89', '100']

In [21]:
newlist.insert(2,'fun')  #add new values in the 2nd location word fun
newlist

[2, 5, 'fun', 255, 78, 67, 'One', 'tomato', '89', '100']

In [22]:
newlist.remove('fun')  #remove fun element from the list
newlist

[2, 5, 255, 78, 67, 'One', 'tomato', '89', '100']

In [23]:
newlist.pop()  #remove the last element from the list
newlist

[2, 5, 255, 78, 67, 'One', 'tomato', '89']

In [24]:
newlist.pop(0)   #remove the element from 0th index

2

In [25]:
#change value of the string

newlist[0]=1
newlist[1]=83
newlist

[1, 83, 78, 67, 'One', 'tomato', '89']

In [26]:
newlist.clear()   #empty list
newlist

[]

## 5)Copy List

In [27]:
mylist=['one','two','three','four','five','six']
mylist

['one', 'two', 'three', 'four', 'five', 'six']

In [28]:
id(mylist)  #address of the list

2267232290496

In [29]:
mylist2=mylist.copy()    #Create a copy of list

In [30]:
mylist2

['one', 'two', 'three', 'four', 'five', 'six']

In [31]:
mylist[0]=7595
mylist

[7595, 'two', 'three', 'four', 'five', 'six']

In [32]:
mylist2    #the copied list wont be impacted as we made changes in original list

['one', 'two', 'three', 'four', 'five', 'six']

## 6)Join Lists

In [33]:
list1=[1,2,3,4,5]
list2=[6,7,8,9,10]

In [34]:
list3=list1+list2  #join two list by + operator
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## 7)List Membership

In [35]:
list3

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [36]:
1 in list3   #Check if 1 exist in the list

True

In [37]:
list3[2]='DataScience'
list3

[1, 2, 'DataScience', 4, 5, 6, 7, 8, 9, 10]

In [38]:
'DataScience' in list3

True

In [39]:
#Check for Datascience exist if yes than a print statement will present
if 'DataScience' in list3:
    print('Yeah it is present')
else:
    print('No its not present')

Yeah it is present

In [40]:
if 'Deeplearning' in list3:
    print('Yeah it is present')
else:
    print('No its not present')

No its not present

## 8)Reverse and sort list

In [41]:
list3

[1, 2, 'DataScience', 4, 5, 6, 7, 8, 9, 10]

In [42]:
list3.reverse()   #It will reverse reverse the list
list3

[10, 9, 8, 7, 6, 5, 4, 'DataScience', 2, 1]

In [43]:
list3[::-1]
list3

[10, 9, 8, 7, 6, 5, 4, 'DataScience', 2, 1]

In [44]:
list3.remove('DataScience')

In [45]:
list3

[10, 9, 8, 7, 6, 5, 4, 2, 1]

In [46]:
list3

[10, 9, 8, 7, 6, 5, 4, 2, 1]

In [47]:
list3.sort()  #Sort in Ascending order
list3

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [48]:
list3.sort(reverse=False)   #Sort in Ascending order
list3

[1, 2, 4, 5, 6, 7, 8, 9, 10]

In [49]:
list3.sort(reverse=True) #Sort in Decending order
list3

[10, 9, 8, 7, 6, 5, 4, 2, 1]

# 9)Loop through a list

In [50]:
list=['one','two','three','four','five']
for i in list:
    print(i)

one
two
three
four
five

In [51]:
for i in enumerate(list):
    print(i)

(0, 'one')
(1, 'two')
(2, 'three')
(3, 'four')
(4, 'five')

# 10)Count

In [52]:
list=['one','two','three','four','five','five','five','three']
list.count('three')   #Number of times item 'three' occurred in the list

2

In [53]:
list.count('five')       #Number of times item 'five' occurred in the list

3

# 11) List Comprehensions

In [54]:
mylist=[i for i in range(40) if i%2==0]  #Display all even number between 0 to 40
mylist

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38]

In [55]:
mylist=[i for i in range(40) if i%2==1] #Display all odd number between 0 to 40
mylist

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39]

In [56]:
mylist=[num**2 for num in range(10)]
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

# [expression for item in list]

In [57]:
#Multiply whole list by 10
list=[i*10 for i in range(20)]
print(list)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190]

In [58]:
#  Or 
list1=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
mylist=[i*10 for i in list1]
print(mylist)

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140, 150, 160, 170, 180, 190, 200]

In [59]:
#list all number divisble by 3 ,9,12 
list3=[i for i in range(100) if i%3==0 if i%9==0 if i%12==0]
list3

[0, 36, 72]

In [61]:
list3.index(0)

0